repo_*/



.git/objects/84/f09b560b6c38a6bcea0c10690b0c3414200362
.git/objects/c7/658974db33c15c4226f58932ea6b9c6b101d40
.git/objects/ab/58d5c777977951f13c23b66c50ad8186d9ac00
.git/objects/9d/c8e2b1f4d58efa89b69ec36b972cf2d0d25185
.git/objects/33/c33e8927b40ee993bf2724679da6c25e02e402
.git/objects/39/67a026e9990bf1c301aa55ac71559786e1b9a9
.git/objects/89/1765a8f5d432ef24382b9447cd4c62959fedca
.git/objects/59/e359500a099a83294f0547651e7ff243df1a39
.git/objects/fe/5e76a807fa237a53321780490efc270be9faff
.git/objects/50/2cda44756b53ec89aca62b0ec0d7700a5a7e0f
.git/objects/b9/c47d535d572d02bbbe0c44cee82b9c449812b5
.git/objects/e7/5cb24016d6714771d7f7380690c38d38aad057
.git/objects/4e/f9562cd5d4d57b1c220964d94adb2ec83d16fc
.git/objects/7b/30da52d36faa06b3494a99552a836d212c1be5
.git/objects/dc/92b54ef53a7704d0c3ffbc66b96c7d46c2ebe0
.git/objects/e4/de52fd2e71d6026eb3ae8cfcc40fe6c031a544
01 - Specific Subjects/03 - Computação/08 - Data Science/02 - Numerical methods/Book - Neide - Cálculo Numérico.pdf
01 - Specific Subjects/03 - Computação/08 - Data Science/02 - Numerical methods/Book - Numerical Recipes in C_ The Art of Scientific Computing, 2nd Ed.pdf
01 - Specific Subjects/03 - Computação/08 - Data Science/01 - Probability and Statistics/Livro - Larson - Estatística Aplicada.pdf
01 - Specific Subjects/03 - Computação/08 - Data Science/01 - Probability and Statistics/Livro - Moretin - Estatística Básica.pdf
01 - Specific Subjects/03 - Computação/08 - Data Science/03 - Artificial Intelligence/01 - Other materials/MIT Intro to Deep Learnig/introtodeeplearning_labs/.git/objects/pack/pack-dd30a0f4c61a723f7e50ad0d3f54e9cace990eb5.pack
01 - Specific Subjects/03 - Computação/08 - Data Science/03 - Artificial Intelligence/Book - Faceli - Inteligência Artificial, Uma Abordagem de Aprendizado de Máquina.pdf
01 - Specific Subjects/03 - Computação/03 - Web Development/03 - Web front end/Head First Javascript.pdf
01 - Specific Subjects/03 - Computação/03 - Web Development/03 - Web front end/Head First HTML5 Programming.pdf
01 - Specific Subjects/01 - Analógica/Other projects/Linear supply (eln1 final project)/material Broering/Simulacao ltspice/Draft1.raw
01 - Specific Subjects/02 - Digital/processamento de sinais/Meyer-Baese, U., Digital Signal Processing with Field Programmable Gate Arrays, Springer, 2001.pdf
01 - Specific Subjects/02 - Digital/Livro - Tocci - Sistemas Digitais, Princípios e Aplicações - 10ª Ed.pdf
02 - General Subjects/01 - Matemática/05 - Cálculo/05 - Equações Diferencais Ordinárias/Book - Zill - Equaçães diferenciais - com Aplicações em Modelagem - ed 10.pdf
02 - General Subjects/01 - Matemática/05 - Cálculo/04 - Calculo vetorial/Book - Diva_Flemming_Cálculo_B_8ed.pdf
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage_03.zip
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage 02.zip
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage_01.zip
02 - General Subjects/02 - Fisica/01 - Mecânica/02 - Mecânica de fluídos/Book - Curso de Física Básica - Vol. 2 - 4ed - Moysés Nussenzveig.pdf
02 - General Subjects/02 - Fisica/01 - Mecânica/Book - Halliday - Física - Vol 1 - 8ª Ed.pdf
02 - General Subjects/02 - Fisica/07 - Física moderna/Moysés - Física Básica Vol 4.pdf
02 - General Subjects/02 - Fisica/07 - Física moderna/Curso de Física Básica - Vol. 4 - 1ed - Moysés Nussenzveig.pdf
02 - General Subjects/02 - Fisica/Book -  BioFísica.pdf
02 - General Subjects/02 - Fisica/02 - Termofísica/Solutions - Incropera - Fundamentals of Heat and Mass Transfer-6th-Edition.pdf
02 - General Subjects/02 - Fisica/Livro - Sears - Física 2 12ªed.PDF
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/03 - Eletromagnetismo/Livro - Sadiku - Elementos do Eletromagnetismo 3a copy.pdf
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/02 - Análise de circuitos/Livro - Sadiku - Fundamentos de Circuitos Elétricos - 5 Edição.pdf
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/Livro - Halliday - Fundamentos de Física 9ª Edição Vol 3 - 3 ED 9.pdf
02 - General Subjects/04 - Biologia/04 - Biologia humana/01 - Morfofisiologia/Atlas de Anatomia Humana - Sobotta - Vol1 e Vol2.pdf
02 - General Subjects/04 - Biologia/04 - Biologia humana/01 - Morfofisiologia/Atlas de Anatomia Humana - Netter - 5ªed.pdf
.git/objects/pack/pack-c4eb7cfd4cea981a4daeed97a6af2a49e12055ae.pack
02 - General Subjects/01 - Matemática/05 - Cálculo/05 - Equações Diferencais Ordinárias/Book - Zill - Equaçães diferenciais - com Aplicações em Modelagem - ed 10.pdf
02 - General Subjects/01 - Matemática/05 - Cálculo/04 - Calculo vetorial/Book - Diva_Flemming_Cálculo_B_8ed.pdf
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage_03.zip
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage 02.zip
02 - General Subjects/09 - Linguagem e expressão/05 - Inglês/04 - Uptime/Audios/stage_01.zip
02 - General Subjects/02 - Fisica/01 - Mecânica/02 - Mecânica de fluídos/Book - Curso de Física Básica - Vol. 2 - 4ed - Moysés Nussenzveig.pdf
02 - General Subjects/02 - Fisica/01 - Mecânica/Book - Halliday - Física - Vol 1 - 8ª Ed.pdf
02 - General Subjects/02 - Fisica/07 - Física moderna/Moysés - Física Básica Vol 4.pdf
02 - General Subjects/02 - Fisica/07 - Física moderna/Curso de Física Básica - Vol. 4 - 1ed - Moysés Nussenzveig.pdf
02 - General Subjects/02 - Fisica/Book -  BioFísica.pdf
02 - General Subjects/02 - Fisica/02 - Termofísica/Solutions - Incropera - Fundamentals of Heat and Mass Transfer-6th-Edition.pdf
02 - General Subjects/02 - Fisica/Livro - Sears - Física 2 12ªed.PDF
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/03 - Eletromagnetismo/Livro - Sadiku - Elementos do Eletromagnetismo 3a copy.pdf
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/02 - Análise de circuitos/Livro - Sadiku - Fundamentos de Circuitos Elétricos - 5 Edição.pdf
02 - General Subjects/02 - Fisica/05 - Elétrica e magnetismo/Livro - Halliday - Fundamentos de Física 9ª Edição Vol 3 - 3 ED 9.pdf
02 - General Subjects/04 - Biologia/04 - Biologia humana/01 - Morfofisiologia/Atlas de Anatomia Humana - Sobotta - Vol1 e Vol2.pdf
02 - General Subjects/04 - Biologia/04 - Biologia humana/01 - Morfofisiologia/Atlas de Anatomia Humana - Netter - 5ªed.pdf
